<h1><%= @user.name %>さんのページ</h1>

<p>名前 | <%= @user.name %></p>
<P>メール | <%= @user.email %></P>
<p>プロフィール | <%= @user.profile %></p>

<h2><%= @user.name %>さんの投稿一覧</h2>
<ul>
  <% @user.posts.each do |post| %>
  <li><%= post.title %> | <%= post.content %></li>
  <% end %>
</ul>

<%= link_to '編集', edit_user_path %> | <%= link_to '削除', user_path, method: :delete %>

